#Dashboard {

  @media (max-width: 767px) {
    .menu {
      position: fixed;
      z-index: 3;
      display: flex;
      top: 0;
      left: -100%;
      height: -webkit-fill-available;
      transition: left 0.5s;
      background-color: rgba(0, 0, 0, 0.02);

      .card {
        background-color: white !important;
        height: 100%;
        position: absolute;
        top: 0px;
        left: -250px;
        height: 100%;
        transition: left 0.3s;
      }

      &.show {
        left: 0;

        .card {
          left: 0;
        }
      }
    }
  }

  .text-gold {
    color: gold;
  }

  .active {
    border-left: 2px solid red;
    padding-left: 5px;
    border-radius: 3px;
    transition: padding 0.03s ease-out;
  }
}

#showcase {
  min-height: 100vh;
}