.css-yk16xz-control,
.css-1pahdxg-control {
  min-height: 100% !important;
  &:hover {
    border-color: initial;
  }

  border-color: initial !important;
  box-shadow: initial !important;
  border-width: 0 !important;
}
